@import "./reset.css";

.error-wrapper {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.error-wrapper img {
  width: 1.1rem;
}

.error {
  color: red;
}

input:user-invalid {
  border: 1px solid red;
}

input:user-valid {
  border: 1px solid green;
}
